services:
  web:
    build: 
      context: .
      dockerfile: docker/Dockerfile
    env_file:
      - .env
    networks:
      - dokploy-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.shubble-backend.rule=Host(web-shuttles.rpi.edu)"
      - "traefik.http.routers.shubble-backend.entrypoints=websecure"
      - "traefik.http.routers.shubble-backend.tls.certResolver=letsencrypt"
      - "traefik.http.services.shubble-backend.loadbalancer.server.port=80"
networks:
  dokploy-network:
    external: true