services:
  web:
    build: 
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      VITE_API_URL: ${VITE_API_URL}
    networks:
      - dokploy-network
networks:
  dokploy-network:
    external: true